<style>
*{
    margin:0;
    padding:0;
}
.fountc{
    width: 100%;
    height: 150px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}
.fountc .contain{
    height: 100%;
    width: 1080px;
    margin: 0 auto;
}
.fountc .contain img{
    height: 90px;
}
.con{
    width: 100%;
    height: 530px;
}
.con .header{
    width: 1080px;
    height: 50px;
    margin: 0 auto;

    padding-top: 14px;
    box-sizing: border-box;
}
.con .header p{
    width: 125px;
    height: 36px;
    background: #e07347;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: center;

}
.tuli{
    width: 1080px;
    height: 480px;

    margin: 0 auto;
}
.tuli .top{
    width: 100%;
    height: 220px;
    padding-top: 20px;
    box-sizing: border-box;
    /*overflow: hidden;*/
}
.tuli .top div{
    width: 216px;
    height: 220px;
    float: left;
}
.tuli .top div div{
    width: 152px;
    height: 100%;
    margin-left: 30px;
}
.tuli .top div div p:nth-child(1){
    width: 152px;
    height: 152px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid #a8a8a8;
    text-align: center;
}
.tuli .top div div p{
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.tuli .bottom{
    width: 100%;
    height: 260px;

}
.tuli .bottom .left{
    width: 432px;
    height: 240px;

}
.tuli .bottom .right{
    width: 648px;
    height: 240px;
    background: url("../images/i_57.jpg") no-repeat;
}
.tuli .bottom .left div{
    width: 216px;
    height: 240px;

    float: left;
}
.tuli .bottom .left div div{
    width: 152px;
    height: 100%;
    margin-left: 30px;
    box-sizing: border-box;
    padding-top: 17px;
}
.tuli .bottom .left div div p:nth-child(1){
    width: 152px;
    height: 152px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid #a8a8a8;
    text-align: center;
}
.tuli .bottom .left div div p{
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.tuli .bottom .right{
    text-indent: 2em;
    font-size: 16px;
    color: #505050;
    line-height: 30px;
    padding-top: 10px;
    box-sizing: border-box;
}
.img{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;
}
.qitu{
    width: 100%;
    height: 348px;
    background-color: #f6f6f6;
    padding-top: 30px;
    box-sizing: border-box;
}
.qitu .con{
    width: 1000px;
    height: 266px;
    margin: 0 auto;
}
.footer{
    width: 1000px;
    height: 280px;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
.footer .left{
    width: 250px;
    height: 100%;
    float: left;
}
.footer .left img:nth-child(2){
    margin-left: 50px;
}
.footer .right, .footer .right ul{
    width: 750px;
    height: 100%;
    float: left;
}
.footer .right ul li{
    width: 200px;
    height: 35px;
    background-color: #f6f6f6;
    margin-top: 20px;
    float: left;
    margin-left: 30px;
    text-align: center;
    line-height: 35px;
}
.iimg:hover{
    border-radius: 100%;
    border: 10px solid gray;
}
</style>